<div class="header" style="width: 100%;">
    <div class="container ff-navbar" >
        <div>
            <a class="navbar-brand" href="index.html">FamilyFlavors</a>
            <ul class="nav navbar-nav navbar-right">

                <!--<li ng-show="pageflag=='createprofile'"><a ui-sref=createprofile style="border: 1px solid;">HOME CHEFS</a></li>-->
                <!--<li ng-show="pageflag=='homechefs'"><a ui-sref=homechefs style="border: 1px solid;">HOME CHEFS</a></li>-->
                <!--&lt;!&ndash;<li><a ui-sref="contact">CONTACT</a></li>&ndash;&gt;-->
                <!--<li ng-if="!isAuthenticatedFlag"><a href={{url}}>SIGN IN</a></li>-->
                <!--<li ng-if="isAuthenticatedFlag"><a href={{url}}>SIGN OUT</a></li>-->

            </ul>
        </div>
    </div>
</div>
<div class="well" style="height: 400px;">
    <div style="text-align: center;margin-top: 80px;">
        <span style="font-size: 20px; color: #333;font-weight: 500;padding-top: 30px;">The only application for great homecooked food !!</span>
    </div>
    <div style="text-align: center;margin-top: 40px;">
        <span style="font-size: 15px; color: #333;font-weight: 500;padding-top: 30px;">Download our mobile apps now for a seamless experience</span>

    </div>
    <div style="text-align: center;margin-top: 40px;">
       <img src="/images/icon-store-google.png" class="google">
    </div>
</div>